$main-text: darkred;
$main-background: rgba(211, 211, 211, 0.8);
$content-text: darkslategrey;
$black: black;

%flex-between {
  display: flex;
  justify-content: space-between;
}

%middle-container {
  width: 90%;
  margin: 0 auto;
}

%font-size-uppercase {
  font-size: 1.1rem;
  text-transform: uppercase;
}